.PostEntryOpen {
    display: flex;
    gap: 10px;
    background-color: #cfdcf8;
    width: 100%;
    height: auto;
    text-align: left;
    border-style: ridge;
    border-radius: 1%;
    border-color: white;
    border-width: 2px;
    padding: 5px 10px;
    margin-bottom: 1rem;

    .PizzaSliceContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 2px;
        .PizzaSlice {
            transform: rotate(275deg);
            width: 30px;
            height: 30px;
        }
    }
}

.PostEntryClose {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #cfdcf8;
    width: 100%;
    height: auto;
    text-align: left;
    border-style: ridge;
    border-radius: 1%;
    border-color: white;
    border-width: 2px;
    padding: 5px 10px;
    margin-bottom: 1rem;

    .QuestionContainer{
        display: flex;
        gap: 10px;

        .PizzaSliceContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px 2px;
            .PizzaSlice {
                width: 30px;
                height: 30px;
            }
        }
    }

    .AnswerContainer{
        background-color: aliceblue;
        padding: 5px 10px;
        border-radius: 5%;
    }
}

